// basic colors
$color-basic: #107379f1;
$color-basic2: rgba(12, 84, 87, 0.911);
$color-black: #000000;
$color-white: #ffffff;
// header menu colors
$color-grey: #a5a5a55b;
$color-solid-grey: rgba(0, 0, 0, 0.438);
$color-light-grey: #f7f7f7;
//calculator colors
$color-buttons: #009b99;
