@import url("https://fonts.googleapis.com/css2?family=Charmonman&display=swap=latin-ext");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap");
$fontLobster: "Lobster";
$fontCharmonman: "Charmonman", sans-serif;
body {
  font-family: "Lobster";
  font-size: 14px;
}
